* {
    margin: 0;
    padding: 0;


}

body {
    background: #fff;
    outline: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

/*===global====*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    font-family: "Oswald", sans-serif;
}

.button {
    background-color: #f7f7f7;
    padding: 7px 25px 7px 25px;
    text-decoration: none;
    font-weight: bold;
    color: #222;
    border: none;
    width: 100%;
}

.header-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0px;
    color: #212121;
    font-weight: 600;
    text-align: center;
}

.navbar .nav-item a {
    color: #222;
    text-decoration: none;
}

.navbar .nav-item a:hover {
    color: #91ad41;
}

.custom-navbar li.nav-item {
    margin-right: 15px;
}

.custom-navbar .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0;
    content: "+";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

/*===top nav====*/
.top-nav {
    background-color: #fff;
    padding: 7px;
}

.custom-navbar .dropdown-menu {
    padding: 0px 0px;
}

.custom-navbar .dropdown-item {
    padding: .5rem 1.5rem;
    border-radius: 0.25rem;
}

.custom-navbar .dropdown-item:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

.custom-navbar .dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}

.custom-navbar .navbar-brand {
    height: 70px;
}

.custom-navbar .navbar-brand img {
    height: 100%;

}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    color: #ffff;
}

.navbar .m_cart-group {
    position: static;
    margin-top: 12px;
}

.m_cart-group .num-items-in-cart .cart_text {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #91ad41;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0;
    -ms-transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.m_cart-group .num-items-in-cart {
    position: relative;
    color: #fff;
}

.m_cart-group .num-items-in-cart .cart_text .number {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
}

a.nav-link.login-icon {
    font-size: 22px;
    margin-right: 12px;
}

.left-menu ul {
    margin: 0;
    list-style: none;
    text-align: left;
}

.left-menu li {
    display: inline-block;
    position: relative;
}

.left-menu li a {
    color: #222;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    transition: .5s;
}

.left-menu li a:hover {
    color: #EB6825;
}

.left-menu li a i {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    padding: 5px;
    margin-right: 5px;
}

.menu ul {
    margin: 0;
    list-style: none;
    text-align: right;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu li a {
    color: #222;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    transition: .5s;
}

.menu li a:hover {
    color: #EB6825;
}

.menu li a i {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 6px;
    margin-right: 15px;
    background-color: #27AE60;
    color: #fff;
}

/*registration modal css*/
.modal-header h5 {
    text-align: center;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.foodly-login-form .modal-header .close {
    margin-top: -1.5rem;
}

.foodly-login-form .form-title {
    margin: -2rem 0rem 2rem;
}

.foodly-login-form .btn-round {
    border-radius: 3rem;
}

.foodly-login-form .delimiter {
    padding: 1rem;
}

.foodly-login-form .social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.foodly-login-form .signup-section {
    padding: 0.3rem 0rem;
}

.foodly-login-form .btn-green-bg {
    background-color: #27AE60;
    color: #fff;
    padding: 10px;
}

/*===== navbar bottom bg or top bg ====== */


.top-bg {
    background-color: #eee;
    height: auto;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F07F31;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #F07F31;
}

.btn-search {

    width: 100px;
    margin: 0 auto;
    margin-left: 75px;
    text-align: center;
    margin-top: 12px;
}

.slider-title h2 {
    font-size: 72px;
    line-height: 85px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px auto 25px;

}

.info-group {
    background-color: #27AE60;
    padding: 30px;
    opacity: .9;
    border-radius: 10px;
}

.input-control {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: none 0s ease 0s;
    width: 100%;
    margin-top: 15px;
}


.selectpicker {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: none 0s ease 0s;
    width: 100%;
}

.list3-24-18 {
    margin-top: 15px;
}

.main-text {
    position: absolute;
    padding: 90px 250px;
    width: 100%;
    color: #FFF;
    font-size: 14px;

}

.slider-title {
    opacity: .8;
}

/*====counter-section*/
.couter-wrapper {
    width: 100%;
    background-color: #28B463;
}

#counter-up {
    width: 100%;
    height: 100px;
}

.count {
    line-height: 100px;
    color: white;
    font-size: 25px;
}

.songle-counter-item {
    text-align: center;
}

span._f-icon {
    font-size: 22px;
    margin-right: 10px;
}

span.counter-title {
    font-size: 20px;
    margin-left: 4px;
    text-transform: capitalize;
    color: #fff;
}

/*how it works css*/
section.work-process-section {
    padding: 70px 0px;
    background-color: #f5fcf9;
}

._how-it-works {
    box-shadow: 0px 0px 1px 1px #f2f2f2;
    padding: 20px;
    transition: .5s;
}

._how-it-works:hover {
    box-shadow: 0px 0px 1px 1px #ddd;
    padding: 20px;
}

._how-it-works>img.process_logo {
    height: 100px;
    background-position: center;
    background-size: cover;

}

._how-it-works>h3.process-title {
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    text-transform: capitalize;
    margin-top: 10px;
}

._how-it-works>p.process-details {
    font-size: 12px;
    font-family: serif;
    text-transform: capitalize;
    margin-top: 10px;
}

._how-it-works>span.num-badge {
    background-color: #EE6825;
    height: 40px;
    width: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
}



/*favourite food css*/
.popular-food-section {
    background-color: #fff;
    padding: 70px 0px;
}

._favourite-food-item a {
    text-decoration: none;
}

._favourite-food-item {
    padding: 10px;
}

.favourit-food-wrapper a {
    text-decoration: none;
    color: #222;
}

._food_p-image>img._favourite_f_img {
    height: 170px;
    width: 100%;
    position: relative;
}

._favourite_food_details>h3.food-title {
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    text-transform: capitalize;

}

.extra-item>span.item-list {
    text-transform: capitalize;
    font-size: 10px;
    color: #28B463;

}


.food_p-inner-home {
    overflow: hidden;
}

.food_p-inner {
    position: relative;
    border: 1px solid #e5e5e5;
    margin-bottom: 50px;
}


.food_p-inner-home {
    overflow: hidden;
}

.food_p-single-lead-icon a span {
    font-size: 22px;
}

/*ribbon*/
.food_p-icon-mask {
    background-color: #EB6825;
}

.food_p-icon-mask {
    z-index: 9999;
    width: 100px;
    height: 140px;
    position: absolute;
    left: -40px;
    top: -65px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.food_p-icon-mask:hover {
    background-color: #28B463;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.food_p-icon-mask small {
    color: #fff;
    position: absolute;
    left: 58%;
    bottom: 32%;
    font-weight: bold;
    font-size: 15px;
    -webkit-transform: rotate(-96deg);
    -moz-transform: rotate(-96deg);
    -ms-transform: rotate(-96deg);
    -o-transform: rotate(-96deg);
    transform: rotate(-96deg);
}

.food-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.pull-left span {
    font-weight: bold;
    font-size: 14px;
    color: #222;
}

.shop-time {
    font-size: 12px;
    font-weight: 400 !important;
    border-radius: 15px;
    color: #fff !important;
}

.add-tocart-btn {
    border: 1px dotted #EE6825;
    padding: 7px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #222;
    transition: .5s;
}

.add-tocart-btn:hover {
    background-color: #EE6825;
    color: #fff;

}

.listing-food {
    padding: 10px;

}

.listing-food>.img-holder img {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
}

.food-company p {
    line-height: 6px;
}

.food-company h5 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: serif;
    font-weight: 600;
    text-align: right;
}

.food-company p {
    text-transform: capitalize;
    font-size: 10px;
    font-family: serif;
    font-weight: 600;
    text-align: right;
}

/* offer */

.special-offer {
    padding: 70px 0px;
    background-color: #f5fcf9;
}

.offer-title {
    font-size: 72px;
    line-height: 85px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px auto 25px;
}

.special-offer-inner a {
    list-style: none;
    text-decoration: none;
}

span.offer-percent-bg {
    color: coral;
}

.special-offer-inner ._btn {
    font-size: 14px;
    padding: 15px 16px;
    font-weight: 500;
    border-width: 1px;
    height: 50px;
    line-height: 48px;
    color: #fff;
    border-color: #91ad41;
    background-color: #91ad41;
    padding-left: 40px;
    padding-right: 40px;
}

.offer-img.aboutp3-img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.offer-img.aboutp3-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*food-brand*/
.owl-carousel button.owl-dot {
    background: #ddd;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 10px;
    /* display: list-item; */
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    text-align: center;

}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 125px;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*restaurent page css*/
/* popular  */
.popular-restaurent-section {
    padding: 70px 0px;
    background-color: #fff;
}

/*====restaurent-list page======*/
.sort-by {
    margin-left: 10px;
}

.nav-right {
    text-align: right;
}

.tab-image {
    float: left;
    text-align: center;
    margin-right: 20px;
}

.tab-image img {
    background-position: center;
    border: 1px solid #ddd;
    padding: 5px;
}

.company-post-list {
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #ccc;
    padding: 10px;
    margin-bottom: 30px;
    text-align: left;
    border-radius: 5px;
}

.food-review-right {
    text-align: right;
}

span.icon-review i {
    margin-right: 15px;
    color: #F07F31;
    font-weight: 600;

}

.food-details {
    margin-top: -17px;
    margin-bottom: 15px;
}

.company-post-list a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: serif;
    color: #222;
    font-size: 20px;
    transition: .5s;

}

.company-post-list a:hover {
    color: #222;
}

ul.rating-start li {
    list-style: none;
    display: inline-block;
}

.rating-start li i {
    color: #F07F31;
}

a.view-btn {
    background-color: #F07F31;
    padding: 10px 15px;
    font-size: 15px;
    color: #fff;
    border-radius: 25px;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

li.breadcrumb-item a {
    color: #27AE60;
    text-decoration: none;
}

h3.filter-title {
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.search-input {
    border-radius: 30px;
    width: 100%;
    position: relative;
}

.input-group-append {
    position: absolute;
    right: 20px;
    margin-top: 12px;
}

.input-group>.form-control:not(:last-child),
.input-group>.custom-select:not(:last-child) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sort-by-search label {
    display: block;
    margin-bottom: .5rem;
}

span.spacing-label {
    padding-left: 10px;
    color: #222;
}

.most-popular-restaurent-list.nav-right .nav-tabs .nav-link {
    color: #F07F31;
}

/*food-details css*/

.reservation-banner {
    background-image: url(/asset/image/slider/reservation-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;

}
.banner-subtitle{
    color: #27AE60;
}
.reservation-banner h1 {
    font-size: 72px;
    line-height: 85px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px auto 25px;
    color: orange;
}

.reservation-innrer.card {
    margin: auto;
    border: solid 1px #dbdad7;
    width: 65%;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important
}

section.food-reservation-section {
    padding: 70px 0px;
}

.reserve-title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px auto 16px;
    color: orange;
}

@media only screen and (max-width: 600px) {
    .reservation-innrer.card {
        margin: auto;
        border: solid 1px #dbdad7;
        width: 100%;
        padding-left: 10px !important;
        padding-bottom: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important
    }

}

.single-brand-item {
    filter: grayscale(1);
}

.single-brand-item:hover {
    filter: grayscale(0);
}
/* about */
.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.aboutus-section .icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
/*footer-wrapper*/
.footer-wrapper {
    background-color: #222;
    padding: 15px;
}

h4.footer-title {
    font-size: 22px;
    font-family: serif;
    color: #fff;
    text-transform: capitalize;
}

.footer-social ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
}

.footer-social ul li a {
    color: #fff;
}

.footer-social ul li i {
    background-color: #F07F31;
    height: 35px;
    width: 35px;
    padding: 9px;
    border-radius: 5px;
}